<div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle *ngIf="username">{{onlines}}</mat-card-subtitle>
      <button mat-icon-button>
          <mat-icon aria-label="logout" matTooltip="Logout" (click)="logout()">exit_to_app</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content #chats [class.blur]="!isLoggedIn()">
      <div class="message right"
           [class.left]="message.user_id !== user_id"
           *ngFor="let message of messages">
        <mat-card [style.background-color]="getColor(message.user_id)">
          <div class="messager">
            <b>{{message.user_id !== user_id?message.username:'You'}}</b>
            <span style="float: right;">&emsp;{{formatDate(message.timestamp)}}</span>
          </div>
          <div>{{message.message}}</div></mat-card>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="reply" *ngIf="replying">
        <mat-card>
            <div class="messager">
                <b>Yakubo</b>
                <span style="float: right;">&emsp;{{formatDate(messages[0].timestamp)}}</span>
            </div>
            <div >{{messages[0].message}}</div>
        </mat-card>
        <button mat-icon-button (click)="replying=false"><mat-icon aria-label="close" matTooltip="Close">cancel</mat-icon></button>
      </div>
      <div class="actions">
        <mat-form-field class="messenger" floatLabel="always">
            <mat-label>{{typers}}</mat-label>
            <input matInput [placeholder]="'Hey ' + username + '! Type your msg here...'"
                            [(ngModel)]="message" (ngModelChange)="sendTyping($event)"
                            (keydown.enter)="sendMessage()" #msg>
        </mat-form-field>        
        <button mat-mini-fab color="accent" (click)="sendMessage()"><mat-icon aria-label="Send" matTooltip="Send">send</mat-icon></button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
