<div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle *ngIf="username">{{onlines}}</mat-card-subtitle>
      <!-- <button mat-icon-button>
          <mat-icon aria-label="logout" matTooltip="Logout" >exit_to_app</mat-icon>
      </button> -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="toggleShowSec()">
            <mat-icon>{{show_secs? 'timer_off': 'timer' }}</mat-icon>
            <span>{{show_secs? 'Hide': 'Show' }} seconds</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
    </mat-card-header>
    <mat-card-content #chats [class.blur]="!isLoggedIn()">
      <div class="message right"
           [class.left]="message.user_id !== user_id"
           *ngFor="let message of messages">
        <mat-card [style.background-color]="getColor(message.user_id)">
          <mat-card *ngIf="message.reply_to" class="embed-reply"
                    [style.background-color]="getColor(message.reply_to.user_id)"
                    [style.color]="message.reply_to.user_id === user_id ? 'black' : 'white'">
              <div class="messager">
                  <b>{{message.reply_to.user_id !== user_id ? message.reply_to.username : 'You'}}</b>
                  <span style="float: right;">&emsp;{{formatDate(message.reply_to.timestamp)}}</span>
              </div>
              <img *ngIf="message.reply_to.image" class="embed-image"
                   [src]="getLowQualityImage(message.reply_to.image)"
                   (load)="loadedImage()" (click)="showImage(message.reply_to.image)">
              <div >{{message.reply_to.message}}</div>
          </mat-card>
          <div class="messager">
            <b>{{message.user_id !== user_id ? message.username : 'You'}}</b>
            <span style="float: right;">&emsp;{{formatDate(message.timestamp)}}</span>
          </div>
          <img *ngIf="message.image" class="embed-image"
               [src]="getLowQualityImage(message.image)"
               (load)="loadedImage()" (click)="showImage(message.image)">
          <div>{{message.message}}</div>
        </mat-card>
        <button mat-icon-button class="reply-button" (click)="quoteReply(message)">
          <mat-icon aria-label="reply" matTooltip="Reply">reply</mat-icon>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="reply" *ngIf="replyingTo">
        <mat-card>
            <div class="messager">
                <b>{{replyingTo.user_id !== user_id ? replyingTo.username : 'You'}}</b>
                <span style="float: right;">&emsp;{{formatDate(replyingTo.timestamp)}}</span>
            </div>
            <img *ngIf="replyingTo.image" class="embed-image" [src]="getLowQualityImage(replyingTo.image)">
            <div >{{replyingTo.message}}</div>
        </mat-card>
        <button mat-icon-button (click)="replyingTo = null">
          <mat-icon aria-label="close" matTooltip="Close">cancel</mat-icon>
        </button>
      </div>
      <div class="attach-image" *ngIf="image || uploadProgress">
          <mat-card>
              <div *ngIf="uploadProgress">Uploading... {{uploadProgress}}%</div>
              <img *ngIf="image" [src]="getLowQualityImage(image)">
          </mat-card>
          <button *ngIf="image" mat-icon-button (click)="image = null">
            <mat-icon aria-label="close" matTooltip="Close">cancel</mat-icon>
          </button>
      </div>
      <div class="actions">
        <mat-form-field class="messenger" floatLabel="always">
            <mat-label>{{typers}}</mat-label>
            <input matInput [placeholder]="'Hey ' + username + '! Type your msg here...'"
                            [(ngModel)]="message" (ngModelChange)="sendTyping($event)"
                            (keydown.enter)="sendMessage()" maxlength="1000" #msg>
        </mat-form-field>
        <app-attach-image (progress)="uploadingImage($event)" (upload)="attachImage($event)"></app-attach-image>    
        <button mat-mini-fab color="accent" (click)="sendMessage()">
          <mat-icon aria-label="Send" matTooltip="Send">send</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
