<div style="text-align:center;">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style="width: 100%; display: flex; justify-content: center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Global Chat</mat-card-title>
      <mat-card-subtitle>You are logged in as <b>{{username}}</b></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content #chats [class.blur]="!isLoggedIn()">
      <div class="message right" [class.left]="message.user_id !== user_id" *ngFor="let message of messages">
        <mat-card><b *ngIf="message.user_id !== user_id">{{message.username}}: </b>{{message.message}}</mat-card>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field class="messenger">
          <input matInput [(ngModel)]="message" #msg (keydown.enter)="sendMessage()">
      </mat-form-field>        
      <button mat-mini-fab color="accent" (click)="sendMessage()"><mat-icon aria-label="Send">send</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
