.example-card {
    max-width: 500px;
    width: 90%;
    padding: 0;
  }
  
.example-header-image {
    background-image: url('/assets/global_chat.png');
    background-size: cover;
  }

.mat-card-header {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 4px 4px 0 0;
    background-color: #7b1fa2;
}
.mat-card-subtitle {
    margin-bottom: 0;
}
.mat-card-actions:last-child {
    display: flex;
    justify-content: space-between;
}

.mat-card-actions:last-child {
    margin: 0 !important;
    padding: 15px;
    padding-bottom: 5px;
}

:host/deep/ .mat-card-header-text {
    flex-grow: 1;
}

.mat-card-content{ 
    margin-top: 5px;
    margin-bottom: 0;
    height: 450px;
    overflow-y: auto;
}

.mat-card-content.blur {
    filter: blur(5px);
}

.mat-card-content::-webkit-scrollbar {
    width: 0 !important
}

.message {
    display: flex;
    padding: 5px 10px;
    justify-content: flex-end;
}

.message>.mat-card {
    max-width: 80%;
}

.message.right>.mat-card {
    background-color: #69f0ae;
    color: black;
}

.message.left {
    justify-content: flex-start;
}
.message.left>.mat-card {
    background-color: #7b1fa2;
    color: white;
}

:host/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #69f0ae !important;
}

:host/deep/ .mat-form-field.mat-focused .mat-form-field-label {
    color: #69f0ae !important;
}

:host/deep/ .mat-form-field .mat-form-field-label {
    color: #69f0ae !important;
}

.messenger {
    width: 100%;;
}

.messenger input {
    caret-color: #69f0ae !important
}

.mat-mini-fab {
    margin: 5px 0 0 10px;
}